footer
    overflow: hidden
    display: flex
    align-items: center
    background-color: $secondary

    #footerContent
        .footerFirstLine
            display: flex
            display: flex
            justify-content: space-between
            align-items: center

            img
                float: none
                padding: 0
                display: block

            p
                margin: 0
                display: flex
